logs/
config.yaml
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/
.DS_Store
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*

ssl/

# Just development local files
collected_files_*.zip
collect_files.py
collected_files_*/
