# PyServe Docker Environment Variables
# Copy this file and fill variables
# cp env.example .env

# HTTP port (must equal with port in config.yaml)
HTTP_PORT=8000

# HTTPS port (for SSL)
HTTPS_PORT=8443

# Additional variables for container
PYSERVE_DEBUG=false
